* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.form {
  padding: 15px 0px;
}

.taskContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 15px;
}

.taskCard {
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 0 6px #e4e4e4;
  position: relative;
}
.taskCard>h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
}
.taskCard>p {
  font-size: 2rem;
  margin: 20px 0px 35px;
  text-transform: capitalize;
}
.addBtn {
  padding: 8px 12px;
  margin: 0px 15px;
}
.statusDone, .statusPending {
  color: #fff;
  padding: 3px 9px;
  border-radius: 4px;
  font-size: 1.7rem;
  margin-right: 8px;
}
.pending {
  color: #cf1e1e;
}
.done {
  color: #3CB371;
}
.statusPending {
  background-color: #cf1e1e;
}
.statusDone{
  background-color: #3CB371;
}

.label {
  margin-left: 12px;
}

.btnContainer { 
  margin-top: 15px;
  text-align: center;
}

.addBtn, .moreBtn, .delBtn {
  background-color: rgba(99, 163, 99, 0.76);
  font-weight: bold;
  border: none;
  color: #fff;
  border-radius: 6px;
  padding: 8px;
}

.delBtn {
  width: 28px;
  height: 28px;
  background-color: #dd4040;
  border-radius: 40%;
  padding: 4px;
  margin: -7px -7px;
  position: absolute;
  top: 0;
  right: 0;
}
.checkbox {
  margin-left: 5px;
}

.moreBtn:hover, .delBtn:hover, .addBtn:hover, .checkbox:hover {
  cursor: pointer;
}

.btnContainer>button {
  width: 100%;
}

.containerStatusTarefas {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.statusTarefa {
  background-color: #f3f3f3;
  margin-right: 15px;
  border-radius: 8px;
  font-weight: bold;
  align-items: center;
  padding: 8px 4px 8px 26px;
  font-size: 1.5rem;
}
.teste {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.taskCount {
  margin-left: 10px;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: #000;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}