* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
}

.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  position: relative;
}
.form {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}

.taskContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
  gap: 15px;
}

.taskCard {
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  padding: 25px; 
  box-shadow: 0 0 6px #e4e4e4;
  position: relative;
}
.taskCard>h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
}
.taskCard>p {
  font-size: 2rem;
  margin: 20px 0px 35px;
  text-transform: capitalize;
}
.addBtn {
  padding: 8px 12px;
  margin: 0px 15px;
}
.statusDone, .statusPending {
  min-width: 300px;
  color: #fff;
  padding: 3px 9px;
  border-radius: 4px;
  font-size: 1.7rem;
  margin-right: 8px;
}
.pending {
  color: #cf1e1e;
}
.done {
  color: #3CB371;
}
.statusPending {
  background-color: #cf1e1e;
}
.statusDone{
  background-color: #3CB371;
}

.label {
  margin: 0px 6px;
}

.btnContainer { 
  margin-top: 15px;
  text-align: center;
}

.addBtn, .moreBtn, .delBtn, .filterBtn {
  background-color: rgba(99, 189, 99, 0.76);
  font-weight: bold;
  border: none;
  color: #fff;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
}

.delBtn {
  width: 28px;
  height: 28px;
  background-color: #dd4040;
  border-radius: 40%;
  padding: 4px;
  margin: -7px -7px;
  position: absolute;
  top: 0;
  right: 0;
}
.filterBtn {
  background-color: rgba(99, 189, 99, 0.76);
  margin-left: 10px;
  padding: 6px 12px;
}
.select {
  padding: 4px;
  text-align: center;
}
.checkbox {
  margin-left: 5px;
}

.btnContainer>button {
  width: 100%;
}

.containerStatusTarefas {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}

.statusTarefa {
  background-color: #f3f3f3;
  min-width: 110px;
  margin-right: 15px;
  border-radius: 8px;
  font-weight: bold;
  align-items: center;
  padding: 8px 12px;
  font-size: 1.5rem;
  
  span {
    margin-left: 10px;
    color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #8a8a8a;
    min-width: 50px;
    text-align: center;
  }
}
.cardFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.inputForm {
  padding: 2px;
}
.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.modalBtn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 50%;
  padding: 8px;
  margin: -10px -10px 0px 0px;
  background-color: #dd4040;
  color: #fff;
  cursor: pointer;
}

.modalAddBtn {
  margin-bottom: 15px;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(99, 189, 99, 0.76);
  border: 1px solid #fff;
  font-size: 21px;
  cursor: pointer;
  padding: 3px 0px;
}

.modalAddBackground { 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.425);
  display: flex;
  // align-items: center;
  // justify-content: center;
}
.modalAdd {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f7f7f7;
  width: 40%;
  border-radius: 12px;
  position: relative;
  animation: modal 0.3s;
  margin: 140px auto;
  height: 300px;
  h2{
    text-align: center;
  }
  input {
    margin-bottom: 10px;
  }
}

.filterContainer {
  border: 1px solid black;
}

.searchInput {
  padding: 2px;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -80px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}